.container {
  height: calc(100% - 100px);
  margin: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.desc{
  width: 80%;
}
.delete{
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    margin: 0px;
  }
  .left {
    padding: 0px;
    margin-left: -20px;
  }
  .desc{
    max-width: 360px;
  }
  .desc img{
    width: 330px;
  }
}
